/* --- Fonts --- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  /*src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2) format('woff2');*/
  src: url("/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2");
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  /*src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');*/
  src: url("/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2");
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  /*src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');*/
  src: url("/fonts/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2");
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

/* --- Loading --- */
.loadable {
  position: absolute;
  top: 0;
  left: 0;
  /*width: 100vw;*/
  width: 100%;
  min-height: 100%;
  z-index: 1100;
  opacity: 0.65;
  background: #999;
}

.loadable .loading {
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid #001b5c; /* Blue */
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* --- Colores Azul Preacero --- */
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #001b5c!important;
}

.breadcrumb a, .main-footer a {
  color: #001b5c !important;
}

.bg-primary {
  background-color: #001b5c !important;
}

.text-primary {
  color: #001b5c !important;
}

.btn-primary {
  background-color: #001b5c !important;
  border-color: #001b5c !important;
}

.btn-primary:hover:not([disabled]) {
  background-color: #002785 !important;
}

.btn-outline-primary {
  color: #001b5c !important;
  border-color: #001b5c !important;
}

.btn-outline-primary:hover:not([disabled]) {
  color: #fff !important;
  background-color: #001b5c !important;
}

.card-primary.card-outline {
    border-top: 3px solid #001b5c !important;
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #001b5c !important;
}

.form-control:focus, .input-group:focus-within .input-group-append .input-group-text {
  border-color: #001b5c !important;
}

/* --- Eliminar bordes redondeados --- */
/*.card, .btn, .form-control, .input-group-append .input-group-text, .alert, .list-group {*/
.form-control, .input-group-append .input-group-text {
  border-radius: 0 !important;
}

/* --- Ajustes al Menú --- */
.cursor-not-allowed {
  cursor: not-allowed;
}

aside .sidebar .nav-sidebar li.nav-item a.nav-link.disabled {
  opacity: 0.6;
}

/* --- Ajustes al Data Table --- */
.dataTables_wrapper.dt-bootstrap4 > .row:nth-child(2) > div {
  padding-left: 0;
  padding-right: 0;
}

/* --- Ajustes al Input Group Text --- */
.input-group-append .input-group-text {
  background-color: #fff;
  border-radius: 0;
  padding: 0.25rem 0.625rem;
}

/* --- Ajustes al Check Box --- */
.input-group-text input[type='checkbox'], .form-check input.form-check-input, td input[type='checkbox'] {
  width: 1.125rem;
  height: 1.125rem;
}